html, body{ height: 100%;}
body {
    padding-top: 65px;
}
.container { height: 100%;width:100%;}
.inner { height: 100%;width:100%;}

.red {
    color:red;
}
table{
    empty-cells: show;
    border-spacing: 0px;
    border-collapse: separate;
    display:table;
}
td { 
    padding: 0px;
    text-align: center;
}
.padding {
    padding-top: 15px;
}
.player-box {
    background-color:#101010; 
}
.modal-backdrop
{
   filter: alpha(opacity=50); !important;
}